.right-widgets-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 330px;
    left: 540px;
    top: 346px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    border-radius: 12px;
    padding: 10px;
}

.right-widgets-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.right-widgets-list {
    margin: 0;
    padding: 0;
}

.properties-widget {
    left: 900px;
}