.side-bar {
    width: 100px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.side-logo {
    margin: 30px auto 40px auto;

}

.hr {
    width: 100%;
    height: 1px;
    background-color: rgb(199, 199, 199);
}

.sidebar-menu {
    height: 100vh;

}

.icon-wrapper {
    width: 30px;
    height: 30px;
    margin-top: 25px;
}